/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(192, 188, 188) ;
    font-family: 'Montserrat', sans-serif;
}

/* propiedades de index*/

/* GRID*/

.container-1{
    display: grid;
    grid-template-areas:
     "menu menu menu menu"
     "banner banner banner banner"
     "main main main main"
     "footer footer footer footer" ;
    
}

/* propiedades header*/

.menu{
    background-color: orange;
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
}

.menu div{
    text-align: center;
    background-color: black;
    color: white;
    text-transform: uppercase;
}

header  .menu__option{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.menu__option ul{
    list-style-type: none;
}

.menu__option ul li{
    display: inline-block;
    margin: 1rem 2rem;
    padding: 5px;
    font-size: 1.5rem;
    border: 2px solid black;
    background-color: rgba(231, 156, 17, 0.564);
    font-weight: bold;
}

header nav ul li .menu__button{
    text-decoration: none;
    color: black;
    padding: 5px;
}


/*propiedades del section */

section{
    background-color: violet;
    grid-area: banner;
    display: flex;
    margin: 0.8rem;
    border: 2px solid black;
}

section .banner{
    width: 100%;
}
.banner .banner__img{
    width: 100%;
}


/*propiedades del main*/

.main{
    grid-area: main;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

main div .section{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5rem;
}

.section__text{
    text-align: center;
}

main .section__text h1{
    margin-bottom: 1rem;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: rgb(245, 233, 235);
    display: inline-block;
}

main .section__text p{
    font-size: 21px;
    margin: 1.5rem 1rem;
}


main div img{
    border: 2px solid black;
    flex-direction: row;
    margin-right: 1rem;
}


/* segunda parte del main*/

main div .merchandise{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    gap: 10px;
    text-align: center;
}

main .merchandise__img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
main .merchandise__img img{
    height: 70%;
    border: 2px solid black;
}

main .merchandise__img button{
    width:100px;
}

main .merchandise__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main .merchandise__text h2{
    display: inline-block;
    border: 2px solid black;
    text-transform: uppercase;
    background-color: rgb(245, 233, 235);
}

main .merchandise__text p{
    font-size: 21px;
    margin: 1.5rem 1rem;
}



    


/* propiedades del footer*/
footer{
    background-color: orange;
    grid-area: footer;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div ul{
    list-style-type: none;
}



/*Propiedades beers*/

/* Propiedades main*/ 
header .menu{}

main .beers-menu{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 3fr;
    grid-template-rows: 4fr;
    row-gap: 1.5rem;
 }
main div .beers-tittle h1{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    font-size: 40px;
}
main div .beers-tittle{
    display: flex;
    justify-content: center;
    
}



main div .beers-tittle h2{
    text-align: center;
    border: 2px solid black;
    display: inline-block;
    font-size: 40px;
}

main .beers__content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;

}


main .beers__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
main .beers__items img{
    height: 80%;
}

/* Propiedades de footer bootstrap*/

.footer-bootstrap{
    margin-top: 8rem;
}


/* media querie*/

@media screen and (max-width:500px) {
    /*seccion index*/
    .container-1{
        display: grid;
        grid-template-areas:
         "menu menu"
         "banner banner"
         "main main"
         "footer footer" ;
        
    }
}















